In [66]:
import pandas as pd

In [67]:
data = pd.read_excel("./data/transactions.xlsx")

df = pd.DataFrame(data)

In [68]:

df.drop(df.index[:18],axis=0,inplace=True)

df.columns = ["Transaction Date", "Value Date", "Description", "Ref No./Cheque No","Debit","Credit","Balance"]

df = df.reset_index()
df.drop(columns=["index"],inplace=True)
df.drop(df.index[0],axis=0,inplace=True)
df.drop("Value Date",axis=1,inplace=True)
df.columns.name = "index"
df.head(5)

index,Transaction Date,Description,Ref No./Cheque No,Debit,Credit,Balance
1,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212184145933/NAIVEDYA/PY...,TRANSFER TO 4692675162099,30.00,,"1,655.78"
2,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212176631177/NAIVEDYA/PY...,TRANSFER TO 4692666162090,10.00,,"1,645.78"
3,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212298919584/Zerodha/ICI...,TRANSFER TO 5097543162099,273.00,,"1,372.78"
4,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212233041527/SATISH G/CN...,TRANSFER TO 5099347162098,55.00,,"1,317.78"
5,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212239795938/NAIVEDYA/PY...,TRANSFER TO 4692423162097,10.00,,"1,307.78"

In [69]:
df.columns

Index(['Transaction Date', 'Description', 'Ref No./Cheque No', 'Debit',
       'Credit', 'Balance'],
      dtype='object', name='index')

## Cleaning

In [70]:
df.dropna(inplace=True)

df["Debit"] = [float(str(i).replace(",", "").replace(" ","0")) for i in df["Debit"]] # 1,000.00 to 1000.00
df["Credit"] = [float(str(i).replace(",", "").replace(" ","0")) for i in df["Credit"]] # 1,000.00 to 1000.00

In [71]:
debits = df["Debit"].tolist()
credits = df["Credit"].tolist()

In [72]:
print(f"Total Debit: {sum(debits)}\nTotal Credit: {sum(credits)}")

Total Debit: 4771.0
Total Credit: 28575.0

In [73]:
# df.to_csv("../data/transactions.csv",encoding="utf-8")