In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/transactions.csv")

In [3]:
df.head(3)

,Unnamed: 0,Transaction Date,Description,Ref No./Cheque No,Debit,Credit,Balance
0,1,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212184145933/NAIVEDYA/PY...,TRANSFER TO 4692675162099,30.0,0.0,"1,655.78"
1,2,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212176631177/NAIVEDYA/PY...,TRANSFER TO 4692666162090,10.0,0.0,"1,645.78"
2,3,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212298919584/Zerodha/ICI...,TRANSFER TO 5097543162099,273.0,0.0,"1,372.78"

In [4]:
df.shape

(53, 7)