In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/transactions.csv")

In [3]:
df.head(3)

,Unnamed: 0,Transaction Date,Description,Ref No./Cheque No,Debit,Credit,Balance
0,1,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212184145933/NAIVEDYA/PY...,TRANSFER TO 4692675162099,30.0,0.0,"1,655.78"
1,2,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212176631177/NAIVEDYA/PY...,TRANSFER TO 4692666162090,10.0,0.0,"1,645.78"
2,3,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212298919584/Zerodha/ICI...,TRANSFER TO 5097543162099,273.0,0.0,"1,372.78"

In [4]:
df.shape

(53, 7)

## How much I got?

In [9]:
df[df["Credit"]!=0.0]

,Unnamed: 0,Transaction Date,Description,Ref No./Cheque No,Debit,Credit,Balance
15,16,2022-05-08 00:00:00,BY TRANSFER-UPI/CR/212848587722/SHOBHA M/UB...,TRANSFER FROM 5099272162091,0.0,10000.0,"10,784.78"
18,19,2022-05-09 00:00:00,BY TRANSFER-PFM 522801492162 Fee Concession...,TRANSFER FROM 4599410105212,0.0,18260.0,"28,990.78"
22,23,2022-05-11 00:00:00,BY TRANSFER-UPI/CR/213112651834/Laxmikan/SB...,TRANSFER FROM 5098405162090,0.0,60.0,"27,940.78"
23,24,2022-05-11 00:00:00,BY TRANSFER-UPI/CR/213194527775/HARSHA AC/...,TRANSFER FROM 4898957162097,0.0,20.0,"27,960.78"
28,29,2022-05-13 00:00:00,BY TRANSFER-UPI/CR/213306710022/Laxmikan/SB...,TRANSFER FROM 5099170162096,0.0,35.0,"27,601.78"
32,33,2022-05-13 00:00:00,BY TRANSFER-UPI/CR/213362611074/HARSHA AC/...,TRANSFER FROM 5099136162098,0.0,20.0,"27,282.78"
33,34,2022-05-13 00:00:00,BY TRANSFER-UPI/CR/213313258151/Laxmikan/SB...,TRANSFER FROM 4693508162094,0.0,20.0,"27,302.78"
35,36,2022-05-13 00:00:00,BY TRANSFER-UPI/CR/213374905024/SATISH G/CN...,TRANSFER FROM 4899361162097,0.0,120.0,"27,182.78"
48,49,2022-05-18 00:00:00,BY TRANSFER-UPI/CR/213859433679/SATISH G/CN...,TRANSFER FROM 4693282162097,0.0,40.0,"25,729.78"

## How much I sent?

In [12]:
df[df["Debit"]!=0.0]

,Unnamed: 0,Transaction Date,Description,Ref No./Cheque No,Debit,Credit,Balance
0,1,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212184145933/NAIVEDYA/PY...,TRANSFER TO 4692675162099,30.0,0.0,"1,655.78"
1,2,2022-05-01 00:00:00,TO TRANSFER-UPI/DR/212176631177/NAIVEDYA/PY...,TRANSFER TO 4692666162090,10.0,0.0,"1,645.78"
2,3,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212298919584/Zerodha/ICI...,TRANSFER TO 5097543162099,273.0,0.0,"1,372.78"
3,4,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212233041527/SATISH G/CN...,TRANSFER TO 5099347162098,55.0,0.0,"1,317.78"
4,5,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212239795938/NAIVEDYA/PY...,TRANSFER TO 4692423162097,10.0,0.0,"1,307.78"
5,6,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212216234618/NAIVEDYA/PY...,TRANSFER TO 4898277162099,5.0,0.0,"1,302.78"
6,7,2022-05-02 00:00:00,TO TRANSFER-UPI/DR/212259453413/NAIVEDYA/PY...,TRANSFER TO 5097518162090,17.0,0.0,"1,285.78"
7,8,2022-05-03 00:00:00,TO TRANSFER-UPI/DR/212310364348/NAIVEDYA/PY...,TRANSFER TO 4692486162093,10.0,0.0,"1,275.78"
8,9,2022-05-03 00:00:00,TO TRANSFER-UPI/DR/212385890416/NAIVEDYA/PY...,TRANSFER TO 5097636162095,10.0,0.0,"1,265.78"
9,10,2022-05-04 00:00:00,TO TRANSFER-UPI/DR/212473570886/N V RAKE/KK...,TRANSFER TO 4694008162094,50.0,0.0,"1,215.78"
10,11,2022-05-05 00:00:00,TO TRANSFER-UPI/DR/212530440849/NAIVEDYA/PY...,TRANSFER TO 5097815162092,40.0,0.0,"1,175.78"
11,12,2022-05-06 00:00:00,TO TRANSFER-UPI/DR/212650739700/MANJUNATH/Y...,TRANSFER TO 5097885162099,14.0,0.0,"1,161.78"
12,13,2022-05-07 00:00:00,TO TRANSFER-UPI/DR/212774252932/MANJUNATH/Y...,TRANSFER TO 4692633162098,15.0,0.0,"1,146.78"
13,14,2022-05-07 00:00:00,TO TRANSFER-UPI/DR/212772633881/MANJUNATH/Y...,TRANSFER TO 4692649162090,25.0,0.0,"1,121.78"
14,15,2022-05-07 00:00:00,TO TRANSFER-UPI/DR/212723768119/LIFE CAR/YE...,TRANSFER TO 4692631162090,337.0,0.0,784.78
16,17,2022-05-08 00:00:00,TO TRANSFER-UPI/DR/212867545207/BHARATH /PY...,TRANSFER TO 4898758162093,14.0,0.0,"10,770.78"
17,18,2022-05-09 00:00:00,TO TRANSFER-UPI/DR/212929691041/PARAMESH/PY...,TRANSFER TO 4898729162098,40.0,0.0,"10,730.78"
19,20,2022-05-11 00:00:00,TO TRANSFER-UPI/DR/213121374914/Zerodha/ICI...,TRANSFER TO 4898739162096,1000.0,0.0,"27,990.78"
20,21,2022-05-11 00:00:00,TO TRANSFER-UPI/DR/213154708298/Bhagya/PYTM...,TRANSFER TO 5097694162096,10.0,0.0,"27,980.78"
21,22,2022-05-11 00:00:00,TO TRANSFER-UPI/DR/213159361041/TEA COFF/PY...,TRANSFER TO 5097703162099,100.0,0.0,"27,880.78"
24,25,2022-05-11 00:00:00,TO TRANSFER-UPI/DR/213135459186/ANKIT RA/UB...,TRANSFER TO 5097753162090,300.0,0.0,"27,660.78"
25,26,2022-05-12 00:00:00,TO TRANSFER-UPI/DR/213208915417/Campus m/PY...,TRANSFER TO 5097829162096,4.0,0.0,"27,656.78"
26,27,2022-05-12 00:00:00,TO TRANSFER-UPI/DR/213256776232/Manjunat/PY...,TRANSFER TO 4692559162091,70.0,0.0,"27,586.78"
27,28,2022-05-13 00:00:00,TO TRANSFER-UPI/DR/213339416537/MANJUNATH/Y...,TRANSFER TO 4692608162098,20.0,0.0,"27,566.78"
29,30,2022-05-13 00:00:00,TO TRANSFER-UPI/DR/213305059135/MYNTRA/YESB...,TRANSFER TO 5097886162098,279.0,0.0,"27,322.78"
30,31,2022-05-13 00:00:00,TO TRANSFER-UPI/DR/213339109040/TEA COFF/PY...,TRANSFER TO 5097918162096,40.0,0.0,"27,282.78"
31,32,2022-05-13 00:00:00,TO TRANSFER-UPI/DR/213384587489/HARSHA AC/...,TRANSFER TO 4694272162091,20.0,0.0,"27,262.78"
34,35,2022-05-13 00:00:00,TO TRANSFER-UPI/DR/213329301086/TASTY AN/PY...,TRANSFER TO 5097882162092,240.0,0.0,"27,062.78"
36,37,2022-05-14 00:00:00,TO TRANSFER-UPI/DR/213420294927/Sri vish/PY...,TRANSFER TO 4692638162093,30.0,0.0,"27,152.78"
37,38,2022-05-15 00:00:00,TO TRANSFER-UPI/DR/213581419757/MANJUNATH/Y...,TRANSFER TO 5098096162097,10.0,0.0,"27,142.78"
38,39,2022-05-15 00:00:00,TO TRANSFER-UPI/DR/213556515063/AMAZON S/HD...,TRANSFER TO 5098101162095,515.0,0.0,"26,627.78"
39,40,2022-05-16 00:00:00,TO TRANSFER-UPI/DR/213683451080/MANJUNATH/Y...,TRANSFER TO 4692424162096,6.0,0.0,"26,621.78"
40,41,2022-05-16 00:00:00,TO TRANSFER-UPI/DR/213683998769/MANJUNATH/Y...,TRANSFER TO 4692423162097,40.0,0.0,"26,581.78"
41,42,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213781771793/MANJUNATH/Y...,TRANSFER TO 4692491162096,20.0,0.0,"26,561.78"
42,43,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213727795346/MANJUNATH/Y...,TRANSFER TO 4692477162094,30.0,0.0,"26,531.78"
43,44,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213773944849/MANJUNATH/Y...,TRANSFER TO 4898279162097,12.0,0.0,"26,519.78"
44,45,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213743545894/TEA COFF/PY...,TRANSFER TO 4898734162091,40.0,0.0,"26,479.78"
45,46,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213710303039/MANJUNATH/Y...,TRANSFER TO 4692492162095,20.0,0.0,"26,459.78"
46,47,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213789830871/UDEMY/HDFC/...,TRANSFER TO 5097614162091,385.0,0.0,"26,074.78"
47,48,2022-05-17 00:00:00,TO TRANSFER-UPI/DR/213722164894/UDEMY/HDFC/...,TRANSFER TO 5097618162097,385.0,0.0,"25,689.78"
49,50,2022-05-18 00:00:00,TO TRANSFER-UPI/DR/213888591354/HARSHA AC/...,TRANSFER TO 4694057162096,35.0,0.0,"25,694.78"
50,51,2022-05-19 00:00:00,TO TRANSFER-UPI/DR/213935232253/MANJUNATH/Y...,TRANSFER TO 4692545162097,15.0,0.0,"25,679.78"
51,52,2022-05-19 00:00:00,TO TRANSFER-UPI/DR/213970769754/MANJUNATH/Y...,TRANSFER TO 5097808162090,10.0,0.0,"25,669.78"
52,53,2022-05-19 00:00:00,TO TRANSFER-UPI/DR/213986903546/SATISH G/CN...,TRANSFER TO 4898892162098,180.0,0.0,"25,489.78"